@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .calendar-header-box {
        @apply bg-[#e7f5fe] border border-gray-100 w-[14.28%] text-center font-bold;
    }

    .calendar-day {
        @apply min-h-24 border border-gray-100 w-[14.28%] p-2;
    }

    .calendar-current-month {
        @apply bg-white;
    }

    .calendar-not-current-month {
        @apply bg-[#f9f9f9];
    }

    .calendar-appointment-box {
        @apply shadow-md rounded-lg p-2 border border-gray-100 font-bold cursor-pointer mt-2 mb-2;
    }

    .agenda-month {
        @apply font-semibold text-xl text-gray-800 dark:text-gray-200;
    }

    .agenda-day {
        @apply font-semibold text-6xl text-gray-800 dark:text-gray-200;
    }

    .agenda-grid-hours {
        @apply w-full px-2 h-screen max-h-[65vh] overflow-y-scroll;
    }

    .agenda-grid-hour {
        @apply block w-full border-b border-gray-400 font-semibold text-lg text-gray-800 dark:text-gray-200;
    }

    .agenda-grid-minutes {
        @apply flex flex-col bg-[#f9f9f9] min-h-20 px-2 py-4;
    }

    .agenda-grid-minute {
        @apply border-b border-gray-400 min-h-6 block;
    }
}
.index-table table {
    border-collapse: collapse;
    width: 100%;
}

.index-table table tr {
    border-bottom: 1px solid #e5e7eb;
}

.index-table table td {
    width:0.1%;
    white-space: nowrap;
}

.day-options {
    height: 24px;
}

.btn-add-appointment {
    display: none;
}

.calendar-day:hover .btn-add-appointment {
    display: block;
}
